@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>Вы авторизованы под почтой: @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<div class="text-center">
    <h1 class="display-4">Консультирующая система</h1>
    <p>Здесь вы можете задавать вопросы, читать ранее заданные вопросы другими пользователями и отвечать на чужие</a>.</p>
</div>
