@model Diplom_MVC.Models.ViewModels.Comments.CreateCommentViewModel

<h2>Создание нового вопроса @ViewData["CommentTitle"]</h2>
<form method="post" asp-controller="Comment" asp-action="Create">
	<div asp-validation-summary="ModelOnly"></div>
	<div>
		<label asp-for="Title"></label><br />
		<input asp-for="Title" />
	</div>
	<div>
		<label asp-for="Description"></label><br />
		<textarea asp-for="Description" cols="100" rows="10"></textarea>
	</div>
	<div>
		<input asp-for="ThemeId" value=@ViewData["ThemeId"] />
	</div>
	<div>
		<input type="submit" value="Создать" />
	</div>
</form>